body{
    background: linear-gradient(to right, rgb(72, 9, 90), rgb(17, 54, 71));
    color: white;
    text-align: center;
}
.table-bg{
    background: rgba(0, 0, 0, 0.3);
    border-radius: 15px 15px 0 0;
}


.page-item{
    color: brown;
}
.page-link{
    color: brown;
}
.pagination{
    color: brown;
}
.bg-primary .active {
    border-color: #ff0000 !important;
}

.bg-primary{
    background-color: rgba(0, 0, 0, 0.3) !important;
    
}
.text-primary{
    color: rgb(80, 13, 88) !important;
}

.box-search{
    display: flex;
    justify-content: center;
    padding: 19px;
}